#center {
    background-color:rgb(51, 49, 49);
    width: 500px;
    padding: 40px;
    height: 300px;
    margin: auto;
    margin-top: 15%;
    color: white;
}
#buttonfundiv {
    background-color: rgb(51, 49, 49);
    width: 700px;
    padding: 40px;
    height: 400px;
    margin: auto;
    margin-top: 13%;
}
#button1:hover {
    background-color: red;
    font-size: 30px;
    border: 0px;
}
#button1 {
    background-color: royalblue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}
#button1:active{
    background-color: chartreuse;
}
#testdiv {
    width: 250px;
    height: 100px;
    margin-top: 250px;
    margin-left: 425px; 
    position: fixed;
    padding: 25px;
}
body {
    background-color: rgb(115, 119, 121);
}
.bottom {
    position: fixed;
    bottom: 100px;
}
a  {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#tablediv {
    background-color: lightblue;
    width: 500px;
    padding: 40px;
    height: 300px;
    margin: auto;
    margin-top: 15%;
}
td,th,table {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
@media (min-width:600px) {
    td::before {
        content: "600"
    }
    td {
        background-color:lightblue;
    }
    #button2 {
        background-color: lightblue;
        border-radius: 50px;
    }
    #button2::before {
        background-color: lightblue;
        content: "I am computer"
    }
}
@media (max-width:599px) {
    td::before {
        content: "2"
    }
    td {
        background-color:blue;
    }
    #button2 {
        background-color: red;
        border-radius: 500px;
    }
    #button2::before {
        content: "I am mobile"
    }
}
#button3:active{
    background-color: rgb(69, 187, 69);
    border-radius: 50px;
}
#button3 {
    background-color: lightblue;
    border-radius: 100%;
}
